<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de Productos - UrbanIconic</title>
    <link rel="stylesheet" href="../static/css/crud.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/img/shopping-bag.png" type="image/x-icon"/>
</head>
<body>
    <header>
      <nav>
        <div id="logo">
          <a href="../">
            <i class="fa-solid fa-shopping-bag"></i>
            <span class="logo-texto">UrbanIconic</span>
          </a>
        </div>
      </nav>
    </header>
    <main> 
        <section id="form" class="container ">
            <h2 class="search-title">Gestión de productos</h2>
            <p class="description" >En esta sección se podrá llevar a cabo la gestión de los productos del portal</p>
            <form action="#"  id="form-product">
                <div class="d-flex">
                    <div class="form-control d-flex-column">
                        <label for="product">Producto</label>
                        <input type="text" class="input-search" name="product" id="product">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="category">Categoria</label>
                        <input type="text" class="input-search" name="category" id="category">
                    </div>                    
                    <div class="form-control d-flex-column">
                        <label for="price">Precio</label>
                        <input type="number" class="input-search" name="price" id="price">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="banner">Imagen descriptiva</label>
                        <input type="url" class="input-search" name="banner" id="banner-form">
                    </div>                
                    <input type="hidden"  name="id_product" id="id-product">
                    <button class="btn-urban" type="button" id="btn-save-product">Agregar</button>
                </div>
            </form> 
        </section>
        <section id="list" class="container">
            <h3 class="subtitle">Listado de productos</h3>
            <table id="list-table-products" class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoria</th>                        
                        <th>Precio</th>
                        <th>Banner</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-products">
                    
                </tbody>
            </table>
        </section>  
    </main>
    <footer id="footer">
        <div class="container">
          <div class="footer-links">
            <a href="#">Términos y Condiciones</a>
            <a href="./politica-de-privacidad.html">Política de Privacidad</a>
            <a href="./acerca-de-nosotros.html">Acerca de Nosotros</a>
            <a href="./crud-product.html">Gestión de Productos</a>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="mailto:contacto@example.com"
              ><i class="fas fa-envelope"></i
            ></a>
          </div>
        </div>
      </footer>

    <script src="../static/js/crud-products-fetch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>