<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de Nosotros - UrbanIconic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/63d67a9fea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      rel="shortcut icon"
      href="../static/img/shopping-bag.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header class="header">
      <nav>
        <div id="logo">
          <a href="../">
            <i class="fa-solid fa-shopping-bag"></i>
            <span class="logo-texto">UrbanIconic</span>
          </a>
        </div>
        <!-- <ul class="nav-links">
          <li><a href="#productos">Productos</a></li>
          <li><a href="#ofertas">Ofertas</a></li>
          <li>
            <a class="btn-urban" href="#">
              <i class="fas fa-sign-in-alt"></i>
              <span class="login-text"> Mi Cuenta </span>
            </a>
          </li>

          <li>
            <a href="#carrito"
              ><i class="fas fa-shopping-cart" aria-hidden="true"></i
            ></a>
          </li>
        </ul> -->
      </nav>
    </header>
    <main>
      <div id="app">
        <section id="banner" class="d-flex">
          <div class="card-banner container">
            <h1 class="h1-title">Politicas de Privacidad</h1>
          </div>
        </section>

        <!-- Sección de Acerca de Nosotros -->
        <section class="container-sn">
          <div class="sobre-nosotros">
            
            <h2>1. Información recopilada </h2>
                <ul>
                    <li>Recopilamos la siguiente información personal cuando usted utiliza nuestro sitio web:</li>
            
                    <p>Información de registro: Su nombre, dirección de correo electrónico, dirección postal y número de teléfono.</p>
                    <p>Información de pago: Su información de pago, como el número de tarjeta de crédito y la fecha de vencimiento.</p>
                    <p>Información de envío: Su dirección de envío.</p>
                    <p>Información de la cuenta: Su nombre de usuario, contraseña y preferencias de la cuenta.</p>
                    <p>Información de navegación: Su dirección IP, historial de navegación, cookies y otra información sobre su actividad en nuestro sitio web.</p>
                </ul>
            <h2>2. Finalidad del tratamiento de datos</h2> 
            <ul>
                <li>Utilizamos su información personal para los siguientes propósitos:</li>
            
                <p>Completar compras y procesar pagos.</p>
                <p>Ofrecer atención al cliente y soporte.</p>
                <p>Enviar comunicaciones promocionales, como ofertas y cupones.</p>
                <p>Mejorar nuestro sitio web y nuestros servicios.</p>
                <p>Prevenir el fraude y proteger la seguridad de nuestro sitio web.</p>
            </ul>
            <h2>3. Consentimiento del usuario</h2>
            <ul>
                <li>Al utilizar nuestro sitio web, usted acepta que recopilemos, usemos y divulguemos su información personal de la manera descrita en esta política de privacidad. Usted puede retirar su consentimiento en cualquier momento poniéndose en contacto con nosotros en la dirección de correo electrónico o el número de teléfono que figura arriba.</li>
            </ul>
            <h2>4. Compartir datos con terceros</h2>
            <ul>
                <li>No compartiremos su información personal con terceros sin su consentimiento previo, excepto en los siguientes casos:</li>
            
                <p>Cuando sea necesario para cumplir con la ley o una orden judicial.</p>
                <p>Cuando sea necesario para proteger nuestros derechos o propiedad.</p>
                <p>Cuando sea necesario para proporcionar nuestros servicios, como a empresas de envío o procesamiento de pagos.</p>
            </ul>
            <h2>5. Seguridad de los datos</h2>
            <ul>
                <li>Tomamos medidas de seguridad razonables para proteger su información personal contra pérdida, robo, acceso no autorizado, divulgación, alteración o destrucción. Sin embargo, ninguna medida de seguridad es perfecta y no podemos garantizar que su información personal esté completamente segura.</li>
            </ul>
            <h2>6. Derechos del usuario</h2>
            <ul>
                <li>Usted tiene los siguientes derechos con respecto a su información personal:</li>
            
                <p>Acceso a su información personal.</p>
                <p>Rectificación de datos inexactos o incompletos.</p>
                <p>Supresión de sus datos personales.</p>
                <p>Limitación del tratamiento de sus datos.</p>
                <p>Oposición al tratamiento de sus datos.</p>
                <p>Portabilidad de sus datos.</p>
                <p>Puede ejercer sus derechos poniéndose en contacto con nosotros en la dirección de correo electrónico o el número de teléfono que figura arriba.</p>
            </ul>
            <h2>7. Conservación de datos</h2>
            <ul>
                <li>Conservaremos su información personal durante el tiempo necesario para cumplir con los propósitos para los que fue recopilada o para cumplir con nuestras obligaciones legales.</li>
            </ul>
            <h2>8. Cambios en la política de privacidad</h2>
            <ul>
                <li>Podemos actualizar esta política de privacidad de vez en cuando. Le notificaremos de cualquier cambio publicando la política de privacidad revisada en nuestro sitio web.</li>
            </ul>
            <h2>9. Accesibilidad y claridad</h2>
            <ul>
                <li>Esta política de privacidad está redactada en un lenguaje claro y sencillo. Si tiene alguna pregunta sobre esta política de privacidad, puede contactarnos en la dirección de correo electrónico o el número de teléfono que figura arriba.</li>
            </ul>

          </div>
                   
        </section>
        <!-- Fin de la sección Acerca de Nosotros -->
      </div>
    </main>
    <footer id="footer">
      <div class="container">
        <div class="footer-links">
          <a href="#">Términos y Condiciones</a>
          <a href="#">Política de Privacidad</a>
          <a href="#">Acerca de Nosotros</a>
          <a href="#">Mapa del Sitio</a>
        </div>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="mailto:contacto@example.com"
            ><i class="fas fa-envelope"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>

